
<button id="start">Start broadcast at server</button>
<button id="end" disabled="disabled">End</button>

<div id="charts"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.signalR-1.0.1.js"></script>
<script src="~/scripts/d3.v3.min.js"></script>

<script src="/signalr/hubs"></script>
<script src="~/Visualization/CounterChart.js"></script>
<script src="~/Visualization/Visualization.js"></script>


